<html>
  <head>
    <title>Forgot Password</title>
    <style>
      body { font-family: Arial, sans-serif; margin: 0; padding: 0;
      background-color: #f4f4f4; } .email-container { width: 100%; max-width:
      600px; margin: 0 auto; padding: 20px; background-color: #fff; box-shadow:
      0px 0px 10px 0px rgba(0,0,0,0.1); } .email-container h1, .email-container
      p { text-align: center; } .email-container a { display: inline-block;
      padding: 10px 20px; margin: 20px 0; color: #fff; background-color:
      #007bff; text-decoration: none; border-radius: 5px; }
    </style>
  </head>
  <body>
    <div class='email-container'>
      <h1>Hi {{name}},</h1>
      <p>We heard that you lost your password. Sorry about that!</p>
      <p>But don’t worry! You can use the following link to reset your password:</p>
      <a href='{{resetLink}}'>Reset Password</a>
      <p>If you didn’t ask to change your password, please let us know.</p>
      <p>Thanks,</p>
      <p>Your team</p>
    </div>
  </body>
</html>